* {
    padding: 0;
    margin: 0;
}
html,body {
    font-size: 100px;
}
body {
    min-width: 320px;
    font-size: .16rem;
}
ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #ffffff;
}
i,em {
    font-style: normal;
}
input,button {
    outline: none;
}
.total_ {
    border: 1px solid #e3e3e4;
    background-color: #f5f5f5;
}
.head_ {
    padding: 0 .33rem;
    height: .42rem;
    background-color: #ff8a00;
    overflow: hidden;
}
.head_ .head_1 {
    float: left;
    height: 100%;
    width: 1rem;
    background: url('../image/logo.jpg') no-repeat center;
    background-size: 1rem .3rem;
}
.head_ .head_2 {
    float: right;
    margin-left: .22rem;
    height: 100%;
    width: .22rem;
    background: url('../image/xiazai.jpg') no-repeat center;
    background-size: .22rem .3rem;
}
.head_ .head_3 {
    float: right;
    height: 100%;
    width: .22rem;
    background: url('../image/my.jpg') no-repeat center;
    background-size: .22rem .3rem;
}
.banner_ {
    position: relative;
    width: 100%;
    height: 2.24rem;
    background: url('../image/banner.png') no-repeat;
    background-size: 100% 2.24rem;
}
.banner_>.input_ {
    position: absolute;
    left: 50%;
    bottom: .07rem;
    transform: translateX(-50%);
    color: #757575;
    border-left: 2px solid #9a9a9a;
    border-top: 2px solid #9a9a9a;
    border-right: 3px solid #dfdbdb;
    border-bottom: 3px solid #dfdbdb;
    border-radius: 4px;
}
.banner_>.input_>input {
    width: 2.8rem;
    height: .3rem;
    line-height: .3rem;
    text-indent: 2em;
    font-size: .12rem;
    border: 3px solid #ebebeb;
    box-sizing: content-box;
    background: url('../image/seach.jpg') no-repeat .06rem .08rem;
    background-size: .15rem .15rem;
    background-color: #ffffff;
}
.nav_ {
    margin-bottom: .1rem;
    width: 100%;
    font-size: .12rem;
    color: #ffffff;
    font-weight: 600;
    background-color: #ff8a00;
    overflow: hidden;
}
.nav_ li {
    width: 25%;
    float: left;
}
.nav_ li a {
    display: block;
    width: .54rem;
    margin: .18rem 0 .15rem .14rem;
    text-align: center;
}
.nav_ li a img {
    display: block;
    margin-bottom: .06rem;
    width: 100%;
    height: .54rem;
}
.banner_2 {
    width: 100%;
    height: 2.38rem;
    background: url('../image/banner2.png') no-repeat;
    background-size: 100% 2.24rem;
}
.nav_2 {
    padding: .12rem 0 .1rem .2rem;
    font-size: .18rem;
    color: #ffffff;
    background-color: #ff8a00;
}
.nav_2 p:nth-child(2) {
    font-size: .09rem;
}
.nav_3 {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    font-size: .12rem;
    color: #8b8b8b;
    background-color: #ffffff;
}
.nav_3 li {
    margin: 0 .3rem;
    border-bottom: 1px solid #ff0000;
}
.nav_3 li:nth-last-child(1) {
    border-bottom: none;
}
.nav_3>li>.list_ {
    overflow: hidden;
}
.nav_3>li>.list_>.list_l {
    float: left;
    padding-top: .29rem;
    padding-bottom: .3rem;
    padding-right: .12rem;
}
.nav_3>li>.list_>.list_l>img {
    width: .81rem;
    height: .81rem;
}
.nav_3>li>.list_>.list_r>p {
    margin-top: .22rem;
    font-size: .16rem;
    font-weight: 600;
    color: #191919;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.infor_1 {
    margin-top: .06rem;
    overflow: hidden;
    color: #191919;
}
.infor_1 span:nth-child(1) {
    float: left;
}
.infor_1 span:nth-child(2) {
    float: right;
    color: #ff9517;
    font-weight: 600;
}
.infor_2 {
    margin-top: .06rem;
    overflow: hidden;
}
.infor_2 span:nth-child(1) {
    float: left;
}
.infor_2 span:nth-child(2) {
    float: right;
}
.infor_3 {
    margin-top: .06rem;
    overflow: hidden;
}
.infor_3 span {
    float: left;
    padding: .05rem .02rem;
    background-color: #f4f7f9;
}
.infor_3 span:nth-child(1) {
    margin-right: .03rem;
}
.infor_3 span:nth-child(2) {
    margin-right: .03rem;
}
.nav_4 {
    margin-top: .05rem;
    width: 100%;
    height: .54rem;
    line-height: .54rem;
    overflow: hidden;
    font-size: .17rem;
    color: #666666;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #ff8a00;
}
.nav_4 li {
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
}
.active_1 {
    color:  #ff8a00;
    box-sizing: border-box;
    border-bottom: 3px solid #ff8a00;
}
.nav_5 {
    overflow: hidden;
    padding-top: .18rem;
    padding-bottom: .16rem;
}
.nav_5 dl {
    float: left;
}
.nav_5 dl dd a {
    font-size: .12rem;
    color: #666666;
}
.nav_5 dl:nth-child(1) {
    margin-left: .2rem;
}
.nav_5 dl:nth-child(2) {
    margin-left: .88rem;
}
.footer_ {
    padding: 0 .15rem;
    font-size: .10rem;
    color: #939494;
    background-color: #2f3130;
    border-top: 1px solid #e5e5e5;
}
.footer_>p {
    padding: .12rem 0;
    font-size: .13rem;
    border-bottom: 1px solid #3e403f;
}
.footer_>.footer_ul {
    overflow: hidden;
    width: 100%;
}
.footer_>.footer_ul>li {
    width: 50%;
    float: left;
    margin-top: .14rem;
    margin-bottom: .18rem;
}
.footer_ul>li>a {
    display: block;
    width: .36rem;
    line-height: .18rem;
    padding-left: .45rem;
    color: #939494;
}
.footer_ul li:nth-child(1)>a {
    background: url('../image/apple.png') no-repeat .1rem 0 ;
    background-size: .17rem .21rem;
}
.footer_ul li:nth-child(2)>a {
    background: url('../image/android.png') no-repeat .1rem 0;
    background-size: .17rem .21rem;
}
.footer_last {
    padding-bottom: .12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: .18rem;
}
.footer_last>p>a {
    color: #939494;
}

