* {
  box-sizing: border-box;
}
html {
  font-size: 100px;
}
body {
  font-size: 0.16rem;
}
.login-top {
  height: 1.25rem;
  padding: 0 0.32rem;
  overflow: hidden;
}
.login-top span:nth-of-type(1) {
  float: left;
  width: 0.44rem;
  height: 0.44rem;
  background: url('../images/login_img/login-one.png') no-repeat;
  background-size: 0.44rem 0.44rem;
  margin-top: 0.64rem;
}
.login-top span:nth-of-type(2) {
  color: #666;
  font-size: 0.3rem;
  font-weight: bold;
  float: right;
  margin-top: 0.7rem;
}
.login-main {
  width: 6rem;
  height: 6.85rem;
  background: url('../images/login_img/logo.png') no-repeat center top;
  background-size: 2.5rem 2.74rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.login-main > div {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.login-main > div input {
  width: 100%;
  color: #999;
  font-size: 0.28rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  border: 0;
  border-bottom: 0.03rem solid #ccc;
  margin-top: 0.4rem;
  outline: none;
}
.login-main > div input:nth-of-type(2) {
  background: url('../images/register_img/register-two.png') no-repeat right center;
  background-size: 1.17rem 0.23rem;
}
.login-mainTwo {
  height: 4.1rem;
  background: url('../images/login_img/login-three.png') no-repeat center 0.7rem;
  background-size: 1.02rem 1.02rem;
}
.login-bottom {
  color: #999999;
  font-size: 0.22rem;
  display: flex;
  justify-content: center;
}
